body{
    background-color: #DCDBD9;
    color: #2C2C2C;
    font: normal 100% Cambria, Georgia, sefif;
}

h1{
    font-size: 1.5em; /* 24px / 16px */
    font-style: italic;
    font-weight: normal;
}

h1 a {
    font: bold 0.4583333333333em Calibri, Optima, Arial, sans-serif;  /* 11px / 24px */
    color: #747474;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-decoration: none;
}