#page{
    margin: 36px auto;
    width: 90%;
}

.blog{
    margin: 0 auto 53px;
    width:  93.75%; /* 900px / 960px */
    background-color: #FFA07A;
}

.lede{
    padding: 0.8em 5.3333333%; /* 48px / 900px */
}

.blog .main{
    float: left;
    width: 62.888889%; /* 566px / 900px */
    background-color: #FF6347;
}

.blog .other{
    float: right;
    width: 36.777778%; /* 331px / 900px */
    background-color: #FFA500;
}

.blog .main .article{
    padding: 40px 8.48056537%; /* 48px / 566px */
    /*width:  83.745583%; /* 474px / 566px */
    background-color: #FF4500;
}

.blog .other .recent-entries{
    margin: 0 auto;
    width:  69.7885196%; /* 231px / 331px */
    background-color: #FF8C00;
}

.blog .main .article .date{
    float: left;
    margin-left: -17.0886076%; /* 81px / 474px */
    width:  14.556962%; /* 69px / 474px */
    background-color: #FF6347;
}

.blog .main .article .figure{
    float: right;
    margin-bottom:0.5em;
    margin-left: 2.53164557%; /* 12px / 474px */
    width: 48.7341772%; /* 231px / 474px */
}

img{
    max-width: 100%;
    width: 100%;
}